{% extends 'mortgage/base.html' %}

{% block headerextra %}
{% endblock headerextra %}

{% block content %}

  <h1>Existing Loan Details</h1>

    <form class="form-inline" action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button class="btn btn-outline-primary" type="submit">Update</button>
    </form>
    <br>
  <div class="input-group mb-3">
    <form action="{% url 'mortgage:loan_delete' loan.id %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-outline-danger" type="submit">Delete</button>
    </form>
    <br>
    <form action="{% url 'mortgage:loan_list' %}" method="GET">
      <button class="btn btn-outline-secondary" type="submit">Back</button>
    </form>
  </div>


{% endblock content %}